* {
    margin: 0px;
}

html {
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


body {
    min-height: 100%;
    display: flex;
}

#root {
    height: inherit;
    flex: 1;
    display: flex;
}


.app {
    height: inherit;
    background-color: #d9d9d9;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    gap: 30px;
}

header {
    font-size: 3.5em;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lato', sans-serif;
    border-bottom: 3px solid #FFDE8D;
}


@media (max-width: 280px) {
    .app {
        gap: 15px;
    }

    header {
        font-size: 2.5em;
    }
}


