button {
    width: 70px;
    border: none;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.delButton {
    background-color: red;
    
}

.addButton {
    background-color: green;
}

.previewButton {
    background-color:lightgreen;
    /* width: 100%; */
    margin-top: 15px;
    
}

.resetButton {
    background-color:orange;
    /* width: 100%; */
    margin-top: 15px;
}


.delButton:hover {
    background-color: #CC0000;
}

.addButton:hover {
    background-color: #004D00;
}

.resetButton:hover {
    background-color: #CC7200;
}

.previewButton:hover {
    background-color: #5DBB5D;
}

@media (max-width: 480px) {
	
    button {
        width: 100%;
    }

    
}