button {
    width: 70px;
    border: none;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.delButton {
    background-color: red;
    
}

.addButton {
    background-color: green;
}

.previewButton {
    background-color:lightgreen;
    margin-top: 15px;
    
}

.resetButton {
    background-color:orange;
    margin-top: 15px;
}

.editButton {
    background-color:dodgerblue;
}

.pdfButton {
    background-color: palevioletred;
    font-size: 0.8em;
    width: 70px;
    border: none;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.pdfButton:hover {
    background-color: #A53D60;
}

.editButton:hover {
    background-color: #005DCC;
}


.delButton:hover {
    background-color: #CC0000;
}

.addButton:hover {
    background-color: #004D00;
}

.resetButton:hover {
    background-color: #CC7200;
}

.previewButton:hover {
    background-color: #5DBB5D;
}

@media (max-width: 480px) {
	
    button {
        width: 100%;
    }

    
}