.form {
	background-color: #f3f3f3;
	width: 70%;
	box-shadow: 1px 1px #c0c0c0, -2.5px 0 0.3em #8d8d8d;
	font-family: "Bebas Neue", cursive;
	font-family: "Lato", sans-serif;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom: 10px;
	border-radius: 1em;
}

p {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
	width: max-content;
	border-bottom: 1px solid black;
}

.formLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

label {
    border: none;
    height: 30px;
    border-radius: 3px;
    width: 49%;
    padding-left: 5px;
    border: 1px solid #E6E6E6;
    background-color: white;
    padding-top: 5px;
    color: lightgrey;
    font-size: 14px;
}

input[type="file"] {
    display: none;
}

.notFirstPara {
    margin-top: 20px;
}

.buttonDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@media (max-width: 1250px) {
	.form {
		width: 80%;
	}
}

@media (max-width: 990px) {
	label {
        width: 48%;
    }
}

@media (max-width: 900px) {
	.form {
		width: 90%;
	}
}



@media (max-width: 480px) {
	label {
        width: 100%;
    }
}
