input[type="text"], input[type="number"], input[type="email"], textarea {
    border: none;
    height: 30px;
    border-radius: 3px;
    width: 49%;
    padding-left: 5px;
    border: 1px solid #E6E6E6;
}

textarea {
    width: 99.5%;
    height: 50px;
    resize: none;
}



@media (max-width: 990px) {
	input[type="text"], input[type="number"], input[type="email"] {
        width: 48%;
    }

    textarea {
        width: 98%;
    }

    
}

@media (max-width: 790px) {
	
    textarea {
        width: 100%;
    }

    
}

@media (max-width: 480px) {
	input[type="text"], input[type="number"], input[type="email"] {
        width: 100%;
    }
}